<MarketplaceDetails>
  <SmallAppTile>YiBiShuDu.png</SmallAppTile>
  <ScreenShots>shudu00_副本.png;shudu02_副本.png;shudu03_副本.png;shudu01_副本.png;;;;;</ScreenShots>
  <ScreenShotsWXGA>shudu00_副本_768.png;shudu02_副本_768.png;shudu03_副本_768.png;shudu01_副本_768.png;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>shudu00_副本_720.png;shudu02_副本_720.png;shudu03_副本_720.png;shudu01_副本_720.png;;;;;</ScreenShots720P>
</MarketplaceDetails>